@model WhatsAppRating.Models.Rating

@{
    ViewData["Title"] = "Details";
}

<section class="vh-60">
    <div class="container py-5 h-60">
        <div class="row d-flex justify-content-center align-items-center h-60">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">

                            <div>
                                <h1>Details Rating</h1>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Nickname)
                                    </dt>
                                    <dd class="col-sm-7">
                                        @Html.DisplayFor(model => model.Nickname)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Rate)
                                    </dt>
                                    <dd class="col-sm-7">
                                        @Html.DisplayFor(model => model.Rate)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </dt>
                                    <dd class="col-sm-7">
                                        @Html.DisplayFor(model => model.Description)
                                    </dd>
                                    <dt class="col-sm-5">
                                        @Html.DisplayNameFor(model => model.Time)
                                    </dt>
                                    <dd class="col-sm-7">
                                        @Html.DisplayFor(model => model.Time)
                                    </dd>
                                </dl>
                            </div>
                            <div>
                                <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
                                <a asp-action="Index">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
